each board, index in boards
    if(board.secret)
        - var secret = "true"
        .card.board(data-category=board.category data-secret=secret data-boardname=board.name data-id=board._id)
            .card-block.main-content
                img.img-fluid.pin-img(src=board.pins[0], alt='')                   
                .card-block
                    .pin-text
                        h5 #{board.name}                    
                        p.text-muted #{board.count} pins
                        p.text-muted #{board.likes} likes