// turn to mixin
.col-sm.download
    a(
        data-aos="slide-right"
        data-aos-delay="50"
        data-aos-duration="1000"
        role="button"
        class="btn bt-highlight btn-lg" 
        href="/assets/bg.mp4" 
        download
    )
        | Download CV
