mixin CardBlogHalfImage(blogs)
    each blog in blogs
        .card.blog.image.col-md-6.col-lg-4
            .card-body
                .media
                    img.thumbnail.mr-3(src=blog.profileThumbnail alt=blog.alt)
                    .media-body
                        p Posted by 
                            span.title.title=blog.author
                        small.text-muted.text-muted=blog.created
                ul.topics
                    each keyword in blog.keywords
                        li.text-muted=keyword
                h5.card-title=blog.title
                p.card-text=blog.text
            img.card-img-top(src='http://placekitten.com/200/200' alt='Card image cap')