mixin NavbarFixed(navSetting)
  
  - var counter = 0
  nav.navbar.fixed.navbar-expand-lg.navbar-dark
    a.navbar-brand(href='/')
      img.logo(
        src=navSetting.logo.src
        alt=navSetting.logo.alt
      )
    button.navbar-toggler(
      type='button' 
      data-toggle='collapse' 
      data-target='#navbarSupportedContent' 
      aria-controls='navbarSupportedContent' 
      aria-expanded='false' 
      aria-label='Toggle navigation'
    )
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
    
      ul.navbar-nav
        each link in navSetting.links
            if counter == 0
                li.nav-item.active
                    a.nav-link(href=link.src)=link.name 
                    - counter+= 1 
            else
                li.nav-item
                    a.nav-link(href=link.src)=link.name 